{% extends "account/layout.html" %}
{% block content %}

<div class="container theme-showcase" role="main">
    <br><br><br>
    <div class="col-md-12 column">
        <div class="jumbotron"> 
            <div>
                {% if syncingdb %}
                <span style="color:#f00;display:inline">数据更新中，请稍等... </span> &nbsp;&nbsp;&nbsp;&nbsp;
                {% else %}
                <form action="/crontab/" method="POST" style="display:inline">
                    {% csrf_token %}   
                     <button class="btn btn-lg btn-danger btn-block" type="submit">更新数据库</button>
                </form>
                {% endif %}
            </div>
        </div>        
    </div>
    <br><br><br>
</div>
{% endblock %}