{% extends 'account/layout.html' %}
{% block content %}

<div class="container">
  <br><br><br>

        <table class="table">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>名称</th>
                    <th>下载</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for i in data_list %}
                <tr>
                    <td>{{ forloop.counter | add:offset }}</td>
                    <td>{{ i.name }}</td>
                    <td> 
                      <a href="{{ MEDIA_URL }}{{ i.path }}"><i class="fa fa-download" aria-hidden="true"></i> {{ i.path|cut:"upfile/" }} </a>
                    </td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>

</div>
<br>
<div style="padding-left:120px;"">{% include 'page/djangopage.html' %}  </div> <!--分页-->


{% endblock %}
